@mixin fslh($fs, $lh) {
    font-size: $fs;
    line-height: $lh;
}

@mixin inputIcon($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: right 15px center;
}