@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

$brand-primary: #3A125B;
$brand-light: rgba(255, 255, 255, 0.1);
$brand-success: #52E33C;
$brand-warning: #F8861C;
$brand-pink: #FE1290;
$linear-gradient: linear-gradient(180deg, $brand-warning 0%, $brand-pink 100%);

$im: !important;
$font-family: 'Public Sans', sans-serif;
