@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$brand-primary: #3A125B;
$brand-body-color: #5E5E5E;
$off-white: #C4C4C4;
$brand-dark: #1F1F1F;
$brand-gray: #707070;
$brand-light: rgba(255, 255, 255, 0.1);
$brand-success: #4CE16D;
$brand-warning: #F8861C;
$brand-pink: #FE1290;
$linear-gradient: linear-gradient(180deg, $brand-warning 0%, $brand-pink 100%);

$im: !important;
$font-family-public-sans: 'Public Sans', sans-serif;
$font-family-montserrat: 'Poppins', sans-serif;

$font-sm: 10px;
$font-normal: 14px;
$font-md: 18px;
$font-lg: 24px;
$letter-spacing: 0.26px;
