.btn {
    font-size: $font-normal;
    line-height: 16px;
    padding: 11px 40.5px;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);

    &:focus {
        box-shadow: unset $im;
    }

    &__primary {
        background: $brand-primary;
        border: 1px solid $brand-primary;
        color: $white;
        &:hover {
            color: $white;
        }
    }

    &__lg {
        font-size: $font-md;
        padding: 20.5px 54.5px;
    }

    &-linear-gradient {
        background: $linear-gradient;
        color: $white;
        &:hover {
            color: $white;
        }
    }

    &-dark {
        &-outline {
            border: 1px solid $black;
        }
    }
}
