.fs {
    &-36 {
        font-size: 36px;
    }
    &-24 {
        font-size: $font-lg;
    }
    &-10 {
        font-size: $font-sm;
    }
}

.font-normal {
    @include fslh($font-md - 2px, 33px)
}
