.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.pdb-150 {
    padding-bottom: 150px;
}

.pdt-150 {
    padding-top: 150px;
}

.lh {
    &-46 {
        line-height: 46px;
    }
    &-33 {
        line-height: 33px;
    }
}

.mt-6 {
    margin-top: 4rem;
}
