.text {
    &__success {
        color: $brand-success;
    }
    &__warning {
        color: $brand-warning;
    }
    &__primary {
        color: $brand-primary;
    }
    &__dark {
        color: $brand-dark;
    }
}
