body {
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: $font-family-montserrat;
    color: $brand-body-color;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    &-header {
        background: url("./assets/images/Background.png") center no-repeat;
        background-size: cover;
    }

    .navbar-border-bottom {
        border-bottom: 1px solid #9F459F;
    }

    .hero-banner {
        padding-top: 104px;
        padding-bottom: 169px;
        &__sub-text {
            @include fslh($font-normal, 24px)
        }

        &__header {
            font-weight: 600;
            font-size: 64px;
            color: $brand-primary;
            margin-bottom: 48px;
        }

        &__text {
            margin-bottom: 29px;
            @include fslh($font-md, 33px)
        }
    }

    .why-choose-us {

        &__img {
            width: 87px;
            height: 81px;
        }

        &__title {
            margin-bottom: 22px;
            margin-top: 29px;
            font-size: 24px;
        }

        &__body {
            @include fslh($font-md - 2px, 33px)
        }
    }
}