body {
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: $font-family-montserrat;
    color: $brand-body-color;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    &-header {
        background: url("./assets/images/Background.png") center no-repeat;
        background-size: cover;
    }

    .bg-bar-img {
        background: url("./assets/images/bars.svg") center no-repeat;
        background-size: cover;
        min-height: 432px;
    }

    .bg-explore-img {
        background: url("./assets/images/craft.svg") center no-repeat;
        background-size: cover;
        .card {
            padding: 40px 16px;
            border-radius: 29px;
            @include media-breakpoint-up(md) {
                padding: 40px 91px;
            }
        }
    }

    .navbar-border-bottom {
        border-bottom: 1px solid #9F459F;
    }

    .hero-banner {
        padding-top: 104px;
        padding-bottom: 169px;
        &__sub-text {
            @include fslh($font-normal, 24px)
        }

        &__header {
            font-weight: 600;
            font-size: 55px;
            color: $brand-primary;
            line-height: 1.3em;
            margin-bottom: 48px;
        }

        &__text {
            margin-bottom: 29px;
            @include fslh($font-md, 33px)
        }
    }

    .why-choose-us {

        &__img {
            height: 80px;
        }

        &__title {
            margin-bottom: 22px;
            margin-top: 29px;
            font-size: $font-lg;
        }
    }

    .tabs {
        padding-top: 150px;
        padding-bottom: 150px;
        .nav-tabs {
            border-bottom: unset;
            .nav-link {
                .img-active {
                    display: none;
                }
                &.active {
                    .img-inactive {
                        display: none;
                    }
                    .img-active {
                        display: unset;
                    }
                }
            }
        }
        #buy-coin-tab, #sell-coin-tab {
            padding: 17px 32px;
            border: unset;
            @include media-breakpoint-up(md) {
                padding: 17px 50px;
            }
            &.active {
                box-shadow: 5px 8px 72px -10px rgba(42, 7, 71, 0.12);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        .tab-content {
            position: relative;
            box-shadow: 5px 8px 72px rgba(42, 7, 71, 0.12);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            padding: 61px 30px 44px 30px;
            background-color: $white;
        }

        .lines {
            margin-left: 16px;
            margin-top: -20px;
            margin-bottom: -95px;

            .dot {
                width: 5px;
                height: 5px;
                background: $brand-dark;
                border-radius:7px;
            }

            .line{
                height: 39px;
                width: 1px;
                background: $off-white;
                margin-left: 2.3px;
            }
        }
        .methods {
            margin-left: 12px;
            transform: translateY(-6px);
        }
    }

    .footer {
        p {
            font-size: $font-normal - 2px;
            color: #5D5D5D;
        }
    }
}
